.tag-all-page {
  margin: 30px 40px 30px 40px;
  position: relative;
  min-height: 70vh;

  h3{
    margin: 20px 0;
  }
  .tag-all-title { text-align: center; }

  .tag-all { margin-top: 20px; }

  .tag-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tag-list-item { margin: 10px 10px; }

  .tag-list-count {
    color: $grey;
    &:before {
      display: inline;
      content: " ("
    }
    &:after {
      display: inline;
      content: ") "
    }
  }

  .tag-list-child { padding-left: 20px; }
}
